<footer>
      <div class="container">
        <p class="last">Copyright (C) 2014-<span id="current-year"></span> Abroad Outsourcing Co.,Inc. All rights reserved.</p>
      </div><!--container-->
      <!---スクロールボタン-->
      <a href="#" id="page-top" aria-label="ページトップへ戻る"><i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true"></i></a>
    </footer>
