<header>
    <!-- ヘッダー上部 -->
    <section id="header_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <a href="/index.html"><img src="/image/rogo.png" alt="アブロードアウトソーシング株式会社のロゴ"></a>
                </div>
                <div class="col-sm-6 col-md-6 top_right">
                    <div class="btn_center btn_top">
                        <a class="btn btn-danger btn-lg" href="/form.html"><strong>無料お見積り・お問合せはコチラ</strong></a>
                        <center><i class="fas fa-phone-square-alt"></i> 03-5835-0250（平日10時~19時）</center>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ナビゲーションメニュー部分 -->
    <section id="header_nav">
        <nav class="navbar navbar-expand-sm justify-content-end">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <!-- カスタムナビゲーション -->
                    <!-- HOME -->
                    <li class="nav-item active">
                        <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- SERVICE -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/service.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SERVICE</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/input.html">データ入力サービス</a>
                            <a class="dropdown-item" href="/aggregate.html">データ集計・分析サービス</a>
                            <a class="dropdown-item" href="/scan.html">スキャニングサービス</a>
                            <a class="dropdown-item" href="/edit.html">画像編集・加工サービス</a>
                            <a class="dropdown-item" href="/speed-ad.html">WEBアンケート作成サービス</a>
                        </div>
                    </li>
                    <!-- NEWS -->
                    <li class="nav-item">
                        <a class="nav-link" href="/news.html">NEWS</a>
                    </li>
                    <!-- ABOUT -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/about.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/rule.html">プライバシーポリシー</a>
                            <a class="dropdown-item" href="/recruit.html">リクルート</a>
                        </ul>
                    </li>
                    <!-- CONTACT -->
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/form.html">CONTACT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</header>
