{% include "partials/scripts-legacy-core.njk" %}
<script>
  $(function() {
    $('a').smoothScroll();
  });
  document.getElementById('current-year').textContent = new Date().getFullYear();
</script>
