<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/297671da61.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootsnav/1.2.0/js/bootsnav.min.js"></script>
<script src="/js/jquery.smooth-scroll.min.js"></script>
<script>
  $(function() {
    $('a').smoothScroll();
  });
  document.getElementById('current-year').textContent = new Date().getFullYear();
</script>
