<!-- スクリプト -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/ac3b49c4bc.js" crossorigin="anonymous"></script>
<script src="/js/jquery.smooth-scroll.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script src="/js/custom.js"></script>
