<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap3/js/bootstrap.min.js"></script>
<script src="/js/jquery.smooth-scroll.min.js"></script>
{% if useLightbox %}<script src="/vendor/lightbox2/js/lightbox.min.js"></script>{% endif %}
