<section id="header_top">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <a href="index.html"><img src="/image/rogo.png"></a>
            </div>
            <div class="col-sm-6 col-md-6 top_right">
              <div class="btn_center btn_top">
                <a class="btn btn-contact btn-lg" href="form.html" role="button"><strong>　無料お見積り・お問合せはコチラ　</strong></a> 
                <center><i class="fas fa-phone-square-alt"></i>　03-5835-0250（平日10時~19時）</center>
              </div> 
            </div>
          </div><!--row-->
        </div><!--container -->
      </section>