<section id="header_nav">
        <nav class="navbar navbar-expand-sm">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-toggle-on fa-2x"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="service.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SERVICE</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="input.html">データ入力サービス</a>
                  <a class="dropdown-item" href="aggregate.html">データ集計・分析サービス</a>
                  <a class="dropdown-item" href="scan.html">スキャニングサービス</a> 
                  <a class="dropdown-item" href="edit.html">画像編集・加工サービス</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="news.html">NEWS</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="about.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="rule.html">プライバシーポリシー</a>
                  <a class="dropdown-item" href="recruit.html">リクルート</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html#contact_up">CONTACT</a>
              </li>
            </ul>
          </div>
        </nav>
      </section>