---
permalink: "/news/news_191227.html"
title: "アブロードアウトソーシング株式会社│年末年始のご案内"
description: "年末年始のご案内"
canonicalUrl: "https://www.abroad-o.com/news/news_191227.html"
layoutVariant: "legacy"
tags: ["newsArticle"]
newsOrder: "20191227"
displayDate: "2019/12/27"
summaryTitle: "年末年始のご案内"
excerpt: "弊社では年末年始の下記の期間、休業とさせて頂きます。下記の通りお知らせ申し上げます。"
summaryClass: ""
---
{% extends "layouts/site.njk" %}

{% block head %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ canonicalUrl }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="../image/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
{% endblock %}

{% block main %}
<main>
  <section id="title_top">
    <div class="container">
      <h2>NEWS</h2>
    </div>
  </section>
  <section id="news_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="news-detail-back-link" style="margin-top: 30px;"><a href="../news.html" class="btn btn-default">&laquo; ニュース一覧に戻る</a></p>
          <div class="news_box" id="news_10">
            <h1>年末年始のご案内</h1>
            <h2>年末年始休業期間について</h2>
            <p>弊社では年末年始の下記の期間、休業とさせて頂きます。<br>下記の通りお知らせ申し上げます。<br><br>---------------------------------------------<br>■年末年始休業期間<br>　2019年12月28日(土)〜2020年1月5日(日)<br><br>■お問合せ・ご入稿対応について<br>　お休み期間中に頂きました、お問合せやご入稿の対応は<br>　2019年1月7日(月)より順次ご対応させて頂きます。<br>---------------------------------------------<br>休業期間中、大変ご不便をお掛け致しますが、<br>どうぞ宜しくお願い致します。</p>
            <p>作成日：2019/12/27</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}
{% include "partials/scripts-news.njk" %}
{% endblock %}
