---
permalink: "/news/news_200721.html"
title: "アブロードアウトソーシング株式会社│ホームページ追加のお知らせ"
description: "ホームページ追加のお知らせ"
canonicalUrl: "https://www.abroad-o.com/news/news_200721.html"
layoutVariant: "legacy"
activeNav: "news"
scriptsVariant: "news"
tags: ["newsArticle"]
newsOrder: "20200721"
displayDate: "2020/07/21"
summaryTitle: "ホームページ追加のお知らせ"
excerpt: "平素より格別のご愛顧を賜わり厚く御礼申し上げます。"
summaryClass: ""
---
{% extends "layouts/site.njk" %}

{% block headExtras %}
    {% include "partials/styles-legacy-core.njk" %}
    <link href="../style.css" rel="stylesheet">
    <link rel="icon" href="../image/favicon.png" type="image/png">
{% endblock %}

{% block main %}
<main>
  <section id="title_top">
    <div class="container">
      <h2>NEWS</h2>
    </div>
  </section>
  <section id="news_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="news-detail-back-link news-detail-back-link--spaced"><a href="../news.html" class="btn btn-default">&laquo; ニュース一覧に戻る</a></p>
          <div class="news_box" id="news_15">
            <h1>ホームページ追加のお知らせ</h1>
            <h2>フィルムのスキャンに関するホームページを作成しました。</h2>
            <p>平素より格別のご愛顧を賜わり厚く御礼申し上げます。<br><br>フィルムのスキャンについてのホームページを追加いたしました。<br>一般的なネガフィルムをはじめ、様々なサイズのフィルムに対応しております。<br>フィルムは劣化しやすく、ぜひこの機会にご利用ください。</p>
            <a href="../film.html" target="_blank" rel="noopener noreferrer"><img src="../image/20200721.png" alt="フィルムスキャンサービスのお知らせ"></a>
            <p>作成日：2020/07/21</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
