---
permalink: "/news/news_221212.html"
title: "アブロードアウトソーシング株式会社│年末年始のご案内"
description: "年末年始のご案内"
canonicalUrl: "https://www.abroad-o.com/news/news_221212.html"
layoutVariant: "legacy"
activeNav: "news"
scriptsVariant: "news"
tags: ["newsArticle"]
newsOrder: "20221212"
displayDate: "2022/12/12"
summaryTitle: "年末年始のご案内"
excerpt: "弊社では年末年始の下記の期間、休業とさせて頂きます。下記の通りお知らせ申し上げます。"
summaryClass: ""
---
{% extends "layouts/site.njk" %}

{% block headExtras %}
    {% include "partials/styles-legacy-core.njk" %}
    <link href="../style.css" rel="stylesheet">
    <link rel="icon" href="../image/favicon.png" type="image/png">
{% endblock %}

{% block main %}
<main>
  <section id="title_top">
    <div class="container">
      <h2>NEWS</h2>
    </div>
  </section>
  <section id="news_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="news-detail-back-link news-detail-back-link--spaced"><a href="../news.html" class="btn btn-default">&laquo; ニュース一覧に戻る</a></p>
          <div class="news_box" id="news_19">
            <h1>年末年始のご案内</h1>
            <h2>年末年始休業期間について</h2>
            <p>弊社では年末年始の下記の期間、休業とさせて頂きます。<br>下記の通りお知らせ申し上げます。<br><br>---------------------------------------------<br>■年末年始休業期間<br>　2022年12月29日(木)〜2023年1月4日(水)<br><br>■お問合せ・ご入稿対応について<br>　お休み期間中に頂きました、お問合せやご入稿の対応は<br>　2023年1月5日(木)より順次ご対応させて頂きます。<br>---------------------------------------------<br>休業期間中、大変ご不便をお掛け致しますが、<br>どうぞ宜しくお願い致します。</p>
            <p>作成日：2022/12/12</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
