---
permalink: "/news/news_190327.html"
title: "アブロードアウトソーシング株式会社│ゴールデンウィーク休業期間のお知らせ"
description: "ゴールデンウィーク休業期間のお知らせ"
canonicalUrl: "https://www.abroad-o.com/news/news_190327.html"
layoutVariant: "legacy"
activeNav: "news"
scriptsVariant: "news"
tags: ["newsArticle"]
newsOrder: "20190327"
displayDate: "2019/03/27"
summaryTitle: "ゴールデンウィーク休業期間のお知らせ"
excerpt: "平素はご愛顧いただきまして、誠にありがとうございます。"
summaryClass: ""
---
{% extends "layouts/site.njk" %}

{% block headExtras %}
    {% include "partials/styles-legacy-core.njk" %}
    <link href="../style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="../image/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
{% endblock %}

{% block main %}
<main>
  <section id="title_top">
    <div class="container">
      <h2>NEWS</h2>
    </div>
  </section>
  <section id="news_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="news-detail-back-link news-detail-back-link--spaced"><a href="../news.html" class="btn btn-default">&laquo; ニュース一覧に戻る</a></p>
          <div class="news_box" id="news_9">
            <h1>ゴールデンウィーク休業期間のお知らせ</h1>
            <h2>ゴールデンウィーク休業期間について</h2>
            <p>平素はご愛顧いただきまして、誠にありがとうございます。<br>さて、4月27日（土）からのゴールデンウイーク期間に伴い、<br>誠に勝手ながら、以下の期間を休業とさせて頂きます。<br><br>---------------------------------------------<br>■ゴールデンウィーク休業期間<br>　2019年4月27日(土) 〜2019年5月6日(月)<br><br>■お問合せ・ご入稿対応について<br>　お休み期間中に頂きました、お問合せやご入稿の対応は<br>　2019年5月7日(火)より順次ご対応させて頂きます。<br>---------------------------------------------<br>休業期間中、大変ご不便をお掛け致しますが、<br>どうぞ宜しくお願い致します。</p>
            <p>作成日：2019/03/27</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
