---
permalink: "/news/news_200106.html"
title: "アブロードアウトソーシング株式会社│事務所移転のご案内"
description: "事務所移転のご案内"
canonicalUrl: "https://www.abroad-o.com/news/news_200106.html"
layoutVariant: "legacy"
activeNav: "news"
scriptsVariant: "news"
tags: ["newsArticle"]
newsOrder: "20200106"
displayDate: "2020/01/06"
summaryTitle: "事務所移転のご案内"
excerpt: "弊社では2020年1月6日より新事務所に移転致しました。"
summaryClass: ""
---
{% extends "layouts/site.njk" %}

{% block headExtras %}
    {% include "partials/styles-legacy-core.njk" %}
    <link href="../style.css" rel="stylesheet">
    <link rel="icon" href="../image/favicon.png" type="image/png">
{% endblock %}

{% block main %}
<main>
  <section id="title_top">
    <div class="container">
      <h2>NEWS</h2>
    </div>
  </section>
  <section id="news_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="news-detail-back-link news-detail-back-link--spaced"><a href="../news.html" class="btn btn-default">&laquo; ニュース一覧に戻る</a></p>
          <div class="news_box" id="news_11">
            <h1>事務所移転のご案内</h1>
            <h2>新事務所へ移転について</h2>
            <p>弊社では2020年1月6日より新事務所に移転致しました。<br>新事務所の住所は以下となります。<br><br>---------------------------------------------<br>〒101-0031<br>東京都千代田区東神田2−1−8　秋葉原クロスサイド4階<br>TEL：03-5835-0250<br>FAX：03-3863-2570<br>---------------------------------------------<br><br>どうぞ宜しくお願い致します。</p>
            <p>作成日：2020/01/06</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
