---
permalink: "/news/news_220807.html"
title: "アブロードアウトソーシング株式会社│Pマーク更新のお知らせ"
description: "Pマーク更新のお知らせ"
canonicalUrl: "https://www.abroad-o.com/news/news_220807.html"
layoutVariant: "legacy"
tags: ["newsArticle"]
newsOrder: "20220807"
displayDate: "2022/08/07"
summaryTitle: "Pマーク更新のお知らせ"
excerpt: "一般財団法人日本情報経済社会推進協会（JIPDEC）より、5度目のプライバシーマーク更新の認証を受けました。"
summaryClass: ""
---
{% extends "layouts/site.njk" %}

{% block head %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ canonicalUrl }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="../image/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
{% endblock %}

{% block main %}
<main>
  <section id="title_top">
    <div class="container">
      <h2>NEWS</h2>
    </div>
  </section>
  <section id="news_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="news-detail-back-link" style="margin-top: 30px;"><a href="../news.html" class="btn btn-default">&laquo; ニュース一覧に戻る</a></p>
          <div class="news_box" id="news_18">
            <h1>Pマーク更新のお知らせ</h1>
            <h2>プライバシーマーク更新</h2>
            <p>一般財団法人日本情報経済社会推進協会（JIPDEC）より、5度目のプライバシーマーク更新の認証を受けました。<br></p>
            <div class="img-small"><a href="../image/pmark05.png" data-lightbox="news" data-title="Pマーク更新"><img src="../image/pmark05.png" alt="Pマーク" with="200px"></a></div>
            <p>今後も、より一層のサービス向上に取り組んでまいりますので、今後ともご愛顧を賜りますよう、心よりお願い申し上げます。</p>
            <a href="https://privacymark.jp/" target="_blank">詳しくはこちら</a>
            <p>作成日：2022/08/07</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}
{% include "partials/scripts-news.njk" %}
{% endblock %}
