---
permalink: "/news/news_241218.html"
title: "アブロードアウトソーシング株式会社│年末年始の休業期間についてのご案内"
description: "年末年始の休業期間についてのご案内"
canonicalUrl: "https://www.abroad-o.com/news/news_241218.html"
layoutVariant: "legacy"
activeNav: "news"
scriptsVariant: "news"
tags: ["newsArticle"]
newsOrder: "20241218"
displayDate: "2024/12/18"
summaryTitle: "年末年始の休業期間についてのご案内"
excerpt: "平素は格別のご高配を賜り、厚く御礼申し上げます。弊社では年末年始の下記の期間、休業とさせていただきます。"
summaryClass: ""
---
{% extends "layouts/site.njk" %}

{% block headExtras %}
    <meta name="keywords" content="スキャニング,データ入力,画像編集,集計,スキャニング依頼,コスト削減">
    {% include "partials/styles-legacy-core.njk" %}
    <link href="../style.css" rel="stylesheet">
    <link rel="icon" href="../image/favicon.png" type="image/png">
{% endblock %}

{% block main %}
<main>
  <section id="title_top">
    <div class="container">
      <h2>NEWS</h2>
    </div>
  </section>
  <section id="news_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="news-detail-back-link news-detail-back-link--spaced"><a href="../news.html" class="btn btn-default">&laquo; ニュース一覧に戻る</a></p>
          <div class="news_box" id="news_21">
            <h1>年末年始の休業期間についてのご案内</h1>
            <p>平素は格別のご高配を賜り、厚く御礼申し上げます。<br>
            弊社では年末年始の下記の期間、休業とさせていただきます。</p>
            <p>休業期間中はご不便をおかけいたしますが、<br>
            何卒ご理解賜りますようお願い申し上げます。</p>
            <br>
            <p>---------------------------------------------<br>
            ■年末年始休業期間<br>
              2024年12月28日（土）～2025年1月6日（月）<br>
            ※12月27日は午前中のみの稼働となります。<br><br>

              ■お問合せ・ご入稿対応について<br>
              休業期間中にいただきましたお問合せやご入稿の対応につきましては、<br>
              2025年1月7日（火）より順次対応させていただきます。<br>
            ---------------------------------------------</p>
              <br>
            <p>来年も社員一同、皆様にご満足いただけるサービスを<br>
            提供できるよう精進してまいります。</p>
            <p>新しい年が皆様にとって素晴らしい一年となりますよう<br>
            心よりお祈り申し上げます。</p>
            <p>作成日：2024/12/18</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
