---
permalink: "/news/news_17110101.html"
title: "アブロードアウトソーシング株式会社│【サンプル追加】被写体カラー化（手動）"
description: "【サンプル追加】被写体カラー化（手動）"
canonicalUrl: "https://www.abroad-o.com/news/news_17110101.html"
layoutVariant: "legacy"
activeNav: "news"
scriptsVariant: "news"
tags: ["newsArticle"]
newsOrder: "20171101"
displayDate: "2017/11/01"
summaryTitle: "【サンプル追加】被写体カラー化（手動）"
excerpt: "被写体を修正した後、手動にて「過去の類似写真の色質を元に」カラーリングをしております。"
summaryClass: ""
---
{% extends "layouts/site.njk" %}

{% block headExtras %}
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="../image/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
{% endblock %}

{% block main %}
<main>
  <section id="title_top">
    <div class="container">
      <h2>NEWS</h2>
    </div>
  </section>
  <section id="news_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="news-detail-back-link" style="margin-top: 30px;"><a href="../news.html" class="btn btn-default">&laquo; ニュース一覧に戻る</a></p>
          <div class="news_box" id="news_5">
            <h1>【サンプル追加】被写体カラー化（手動）</h1>
            <h2>カラー補正（難易度：低）＆人物修正：肌美化（難易度：中）＆被写体カラー化（手動）</h2>
            <p>被写体を修正した後、手動にて「過去の類似写真の色質を元に」カラーリングをしております。<br>なお、カラーリングはWebで検索すると無料ソフトで1ボタンで綺麗に加工ができるものもございますが、<br>セキュリティの面やクオリティの面から弊社にご相談頂くことも多くございます。</p>
            <ul>
              <li>加工1　全体カラー補正（難易度：低）</li>
              <li>加工2　手動補正（難易度：中　範囲：中）</li>
              <li>加工3　被写体カラー化（手動　難易度：低）</li>
            </ul>
            <p>参考価格：ご相談下さい（加工3）</p>
            <div class="img-big"><a href="../image/photo-11.png" data-lightbox="news" data-title="被写体カラー化（手動）"><img src="../image/photo-11.png" alt="被写体カラー化（手動）"></a></div>
            <a href="../edit.html" target="_blank">詳しくはこちら</a>
            <p>作成日：2017/11/01</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
