---
permalink: "/news/news_18083102.html"
title: "アブロードアウトソーシング株式会社│品質マネジメントシステム取得のご案内"
description: "品質マネジメントシステム取得のご案内"
canonicalUrl: "https://www.abroad-o.com/news/news_18083102.html"
layoutVariant: "legacy"
activeNav: "news"
scriptsVariant: "news"
useLightbox: true
tags: ["newsArticle"]
newsOrder: "20180831"
displayDate: "2018/08/31"
summaryTitle: "品質マネジメントシステム取得のご案内"
excerpt: "EQA国際認証センターより、以下の認証を取得しました。"
summaryClass: ""
---
{% extends "layouts/site.njk" %}

{% block headExtras %}
    {% include "partials/styles-legacy-core.njk" %}
    <link href="../style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="../image/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
{% endblock %}

{% block main %}
<main>
  <section id="title_top">
    <div class="container">
      <h2>NEWS</h2>
    </div>
  </section>
  <section id="news_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="news-detail-back-link news-detail-back-link--spaced"><a href="../news.html" class="btn btn-default">&laquo; ニュース一覧に戻る</a></p>
          <div class="news_box" id="news_6">
            <h1>品質マネジメントシステム取得のご案内</h1>
            <h2>ISO 9001:2015 & JIS Q9001:2015</h2>
            <p>EQA国際認証センターより、以下の認証を取得しました。<br>品質マネジメントシステム<br>ISO 9001:2015 & JIS Q9001:2015</p>
            <div class="img-small"><a href="../image/ANAB_font.jpg" data-lightbox="news" data-title="EQA認証マーク"><img src="../image/ANAB_font.jpg" alt="EQA認証マーク"></a></div>
            <p>より一層のサービス向上に取り組んでまいりますので、今後ともご愛顧を賜りますよう、心よりお願い申し上げます。</p>
            <a href="http://www.eqaicc.co.jp/" target="_blank" rel="noopener noreferrer">詳しくはこちら</a>
            <p>作成日：2018/08/31</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
