---
permalink: "/news/news_200526.html"
title: "アブロードアウトソーシング株式会社│段階的な出勤者数拡大とテレワーク継続併用のお知らせ"
description: "段階的な出勤者数拡大とテレワーク継続併用のお知らせ"
canonicalUrl: "https://www.abroad-o.com/news/news_200526.html"
layoutVariant: "legacy"
tags: ["newsArticle"]
newsOrder: "20200526"
displayDate: "2020/05/26"
summaryTitle: "段階的な出勤者数拡大とテレワーク継続併用のお知らせ"
excerpt: "平素より格別のご愛顧を賜わり厚く御礼申し上げます。"
summaryClass: ""
---
{% extends "layouts/site.njk" %}

{% block head %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ canonicalUrl }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="../image/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
{% endblock %}

{% block main %}
<main>
  <section id="title_top">
    <div class="container">
      <h2>NEWS</h2>
    </div>
  </section>
  <section id="news_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="news-detail-back-link" style="margin-top: 30px;"><a href="../news.html" class="btn btn-default">&laquo; ニュース一覧に戻る</a></p>
          <div class="news_box" id="news_14">
            <h1>段階的な出勤者数拡大とテレワーク継続併用のお知らせ</h1>
            <h2>新型コロナウイルス（COVID-19）感染拡大予防措置</h2>
            <p>平素より格別のご愛顧を賜わり厚く御礼申し上げます。<br>アブロードアウトソーシング株式会社では、新型コロナウイルス感染症の拡大によるリスク軽減と、従業員ならびに関係者の皆様の安全確保を目的に、在宅勤務（テレワーク）及び最小構成による出勤を実施しておりましたが、緊急事態宣言の解除を受け、二次拡大を防ぐため、テレワークを併用し感染者数等の情報を踏まえながら、段階的に出勤者数の拡大を行って参ります。お客様、関係各位におかれましては、引き続きご不便お掛けいたしますが、何卒ご理解を賜りますよう、お願い申し上げます。<br><br>【実施内容】<br>段階的な出勤者数の拡大<br>「リモートワーク（テレワーク）」の継続実施。<br>※出勤者は全員マスク着用、手洗いの実施。<br><br>【期間】　<br>2020年6月1日（月）〜<br><br>【各サービスの運営に関して】<br>通常通り運営させていただきます。<br><br><br>【電話でのお問合わせについて】<br>通常通り営業時間内でのお電話の対応をしております。<br><br><br>今後も弊社従業員ならびに関係の皆様の安全確保を最優先し、対応を検討・実施してまいります。お客様、関係各位におかれましては、何卒ご理解を賜りますよう、お願い申し上げます。新型コロナウイルス感染症の1日も早い収束を心よりお祈り申し上げます。</p>
            <p>作成日：2020/05/26</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}
{% include "partials/scripts-news.njk" %}
{% endblock %}
