---
permalink: "/news/news_200327.html"
title: "アブロードアウトソーシング株式会社│テレワーク実施のお知らせ"
description: "テレワーク実施のお知らせ"
canonicalUrl: "https://www.abroad-o.com/news/news_200327.html"
layoutVariant: "legacy"
activeNav: "news"
scriptsVariant: "news"
tags: ["newsArticle"]
newsOrder: "20200327"
displayDate: "2020/03/27"
summaryTitle: "テレワーク実施のお知らせ"
excerpt: "平素より格別のご愛顧を賜わり厚く御礼申し上げます。"
summaryClass: ""
---
{% extends "layouts/site.njk" %}

{% block headExtras %}
    {% include "partials/styles-legacy-core.njk" %}
    <link href="../style.css" rel="stylesheet">
    <link rel="icon" href="../image/favicon.png" type="image/png">
{% endblock %}

{% block main %}
<main>
  <section id="title_top">
    <div class="container">
      <h2>NEWS</h2>
    </div>
  </section>
  <section id="news_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="news-detail-back-link news-detail-back-link--spaced"><a href="../news.html" class="btn btn-default">&laquo; ニュース一覧に戻る</a></p>
          <div class="news_box" id="news_12">
            <h1>テレワーク実施のお知らせ</h1>
            <h2>新型コロナウイルス（COVID-19）感染拡大予防措置</h2>
            <p>平素より格別のご愛顧を賜わり厚く御礼申し上げます。<br>アブロードアウトソーシング株式会社では、新型コロナウイルス感染症の拡大によるリスク軽減と、従業員ならびに関係者の皆様の安全確保を目的に、下記の日程で在宅勤務（テレワーク）を実施いたします。お客様、関係各位におかれましては、ご不便お掛けいたしますが、何卒ご理解を賜りますよう、お願い申し上げます。<br><br>【実施内容】<br>雇用形態に依らず、全従業員に対して「リモートワーク（テレワーク）」の実施。<br><br>【期間】　<br>2020年3月30日（月）〜2020年4月3日（金）<br>※政府や東京都からの自粛要請等により変更する可能性がございます。<br><br>【各サービスの運営に関して】<br>現在、当社が提供している各サービスに関しましては、社内で行う一部の業務を除き、運営させていただきます。<br><br>【電話でのお問合わせについて】<br>原則在宅勤務をしております。メールでのお問合せは可能でございますので、各担当者または下記お問合せ先までご連絡ください。<br>お問合せ：info@abroad-o.com<br><br>今後も弊社従業員ならびに関係の皆様の安全確保を最優先し、対応を検討・実施してまいります。お客様、関係各位におかれましては、何卒ご理解を賜りますよう、お願い申し上げます。新型コロナウイルス感染症の1日も早い収束を心よりお祈り申し上げます。</p>
            <p>作成日：2020/03/27</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
