---
permalink: "/thank.html"
title: "アブロードアウトソーシング株式会社│お問い合わせありがとうございます"
description: "お問い合わせ・お見積もりのご依頼を受け付けました。担当者より2営業日以内にご連絡します。"
canonicalUrl: "https://www.abroad-o.com/thank.html"
noindex: true
layoutVariant: "legacy"
activeNav: "contact"
headerContactLabel: "フォームでのお問い合わせ"
---
{% extends "layouts/site.njk" %}

{% block headExtras %}
    <meta name="keywords" content="スキャニング,データ入力,画像編集,集計,スキャニング依頼,コスト削減">       
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% include "partials/analytics.njk" %}
    <!-- Bootstrap -->
    <meta name="google-site-verification" content="Nqa719cJbf2AfjLk6kCgmpJHM73egoAodcPCb-cdyyc" />
    {% include "partials/styles-legacy-core.njk" %}
    <link href="style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--カノニカルタグ-->
    <!--favicon-->
    <link rel="shortcut icon" href="image/favicon.png" >
    <!-- Google Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
{% endblock %}
{% block main %}
<main>
    <section id="title_top">
      <div class="container">
        <h1>お問い合わせ・お申込みありがとうございます。</h1>        
      </div><!--container-->
    </section>
    <section id="thank_top">
      <div class="back-wrap">
      </div> 
        <div class="container">        
        <div class="thank">
          <h2>お問い合わせ・お見積もりのご依頼ありがとうございます。</h2>
          <p>アブロードアウトソーシング株式会社<br>受付担当でございます。<br><br>この度は、お問い合わせ・お見積もりのご依頼を頂きましてありがとうございます。<br><br>
          お問い合わせ・お申込み頂いた内容を元に、2営業日以内にお電話またはメールにてご案内のご連絡を致します。<br><br>
          万が一、お問い合わせ・お申込みフォーム送信後、2営業日を経過しても当社からのご連絡メールが届かなかった場合や、ご不明な点がございましたら、お手数ではございますが、下記までご連絡下さいます様宜しくお願い致します。</p>
          <hr>
          <p>アブロードアウトソーシング株式会社<br>受付担当</p>
          <p><a href="mailto:info@abroad-o.com">お問い合わせメールアドレス　info@abroad-o.com</a></p>
          <p>営業時間　平日10:00~19:00</p>
        </div>
      </div>
    </section>


  </main>
{% endblock %}

{% block scripts %}
{% include "partials/scripts-legacy-core.njk" %}
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.js"></script>
    <script src="js/legacy-smooth-scroll-all-ready.js"></script>
{% endblock %}
