.no-link-style {
        color: inherit; /* 親要素の色を継承する */
        text-decoration: none; /* 下線を削除する */
      }

      .no-link-style:hover,
      .no-link-style:active,
      .no-link-style:visited {
        color: inherit; /* 親要素の色を継承する */
        text-decoration: none; /* 下線を削除する */
      }
